@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Zen+Loop&display=swap');
*{
    padding: 0px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    height: 100%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    max-width: 1150px;
}
.img1{
    position: relative;
    background-image: url('imagens/imagem1.webp'); 
    background-repeat: no-repeat;
    background-position: center ;
    background-attachment: fixed;
    background-size: cover;
    opacity: 0.90;
    width: 100%;
    min-height: 100%;
}
.secao_secundaria_no_background{
    height: 400px;
    padding-top: 50px;
    text-align: center;
    background-color:rgba(22, 22, 39, 0.267);
    font-size: 27pt;
}
#imagem2.secao_secundaria{
    position: relative;
    background-image: url('imagens/imagem2.webp'); 
    background-repeat: no-repeat;
    background-position: center ;
    background-attachment: fixed;
    background-size: cover;
    opacity: 0.90;
    width: 100%;
    min-height: 100%;
}
#imagem3.secao_secundaria{
    position: relative;
    background-image: url('imagens/imagem3.webp'); 
    background-repeat: no-repeat;
    background-position: center ;
    background-attachment: fixed;
    background-size: cover;
    opacity: 0.90;
    width: 100%;
    min-height: 100%;

}
@media(max-width:1157px){
    .secao_secundaria_no_background{
        height: 225px;
    }
}
@media(max-width:919px){
    .secao_secundaria_no_background{
        height: 260px;
    }
}
@media(max-width:790px){
    .secao_secundaria_no_background{
        height: 330px;
    }
}
@media(max-width:710px){
    .secao_secundaria_no_background{
        height: 350px;
    }
}
@media(max-width:616px){
    .secao_secundaria_no_background{
        height: 390px;
    }
}
@media(max-width:550px){
    .secao_secundaria_no_background{
        height: 435px;
    }
}@media(max-width:518px){
    .secao_secundaria_no_background{
        height: 475px;
    }
}
@media(max-width:510px){
    .secao_secundaria_no_background{
        height: 490px;
    }
}
